* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  height: 70px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 3px 6px #00000029;
  justify-content: center;
  position: fixed;
  z-index: 20;
}
@media (min-width: 426px) {
  .header {
    display: flex;
    height: 70px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 3px 6px #00000029;
    justify-content: center;
    position: fixed;
    z-index: 20;
  }
}

.header-title, .footer-title {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 32px;
  color: #08A6E4;
}

.container-header-footer {
  display: flex;
  height: 100%;
  width: 90%;
  /*background: rgba(0, 0, 0, 0.1);*/
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: none;
}
@media (min-width: 426px) {
  .nav {
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 70px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 11px;
  list-style: none;
  margin: 0 30px;
  text-transform: uppercase;
  color: #A5A5A5;
}

.nav-list:hover {
  color: #000000;
  border-bottom: 7px solid #08A6E4;
  cursor: pointer;
}

.main-top {
  width: 100vw;
  height: 100vh;
  background: transparent url("../images/Background.png") no-repeat;
  background-size: 200%;
  background-position: bottom;
}
@media (min-width: 426px) {
  .main-top {
    background-size: contain;
  }
}

.container-main-top {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 426px) {
  .container-main-top {
    justify-content: flex-start;
    height: 50%;
  }
}

.main-top-h1, .main-top-h3, .main-top-btn {
  margin: 10px 10px;
}
@media (min-width: 426px) {
  .main-top-h1, .main-top-h3, .main-top-btn {
    margin: 20px 20px;
  }
}

.main-top-h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 35px;
  margin-top: 150px;
}
@media (min-width: 426px) {
  .main-top-h1 {
    font-size: 49px;
  }
}

.main-top-h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

.btn {
  border-radius: 40px;
  outline: none;
}

.btn:hover {
  cursor: pointer;
}

.main-top-btn {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  height: 50px;
  width: 85%;
  color: #FFFFFF;
  background: #08A6E4;
  margin-top: 30px;
  z-index: 2;
}
@media (min-width: 426px) {
  .main-top-btn {
    width: 440px;
  }
}

.stats {
  display: flex;
  height: 530px;
  background: #FFFFFF;
  justify-content: center;
}

.stats-title {
  text-align: center;
}

@media (max-width: 425px) {
  .container-stats-articles {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.single-stat-container {
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.icon {
  height: 63px;
  width: 63px;
  border-radius: 50%;
}
@media (max-width: 425px) {
  .icon {
    margin-top: 20px;
  }
}

.icon-1 {
  background: #FB3B64;
  z-index: 0;
}

.icon-1::after {
  content: "";
  height: 63px;
  width: 63px;
  background: url("../images/Person.svg") no-repeat center;
  right: 40px;
  z-index: 1;
  position: absolute;
}
@media (min-width: 426px) {
  .icon-1::after {
    right: 10px;
  }
}

.icon-2 {
  background: #08A6E4;
}

.icon-2::after {
  content: "";
  height: 63px;
  width: 63px;
  background: url("../images/Eye.svg") no-repeat center;
  right: 45px;
  z-index: 1;
  position: absolute;
}

.icon-3 {
  background: #55DFB4;
}

.icon-3::after {
  content: "";
  height: 63px;
  width: 63px;
  background: url("../images/Catalog.svg") no-repeat center;
  right: 40px;
  z-index: 1;
  position: absolute;
}
@media (min-width: 426px) {
  .icon-3::after {
    right: 20px;
  }
}

.container-stats-articles {
  display: flex;
  height: 100%;
  width: 85%;
  /*background: rgba(0, 0, 0, 0.3);*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 426px) {
  .container-stats-articles {
    width: 1125px;
  }
}

.stats-title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 30px;
  display: flex;
  height: 50%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
@media (min-width: 426px) {
  .stats-title {
    font-size: 32px;
  }
}

.stats-numbers {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 6px;
}

.stats-description {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #A5A5A5;
}

@media (min-width: 426px) {
  .stats-icons {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
}

.articles {
  display: flex;
  background: #F7F7F7;
  justify-content: center;
}
@media (min-width: 426px) {
  .articles {
    height: 1400px;
  }
}

.container-benefits {
  justify-content: space-around;
}
@media (max-width: 425px) {
  .container-benefits {
    display: flex;
    flex-direction: column;
  }
}

.article-title {
  width: 85%;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 30px;
  top: 50%;
}
@media (min-width: 426px) {
  .article-title {
    width: 350px;
    font-size: 36px;
  }
}

.article-description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-top: 30px;
}

.article-text {
  margin: 20px;
  width: 80%;
}
@media (min-width: 426px) {
  .article-text {
    width: 50%;
  }
}

.article-text-3 {
  width: 100%;
  position: center;
}

@media (min-width: 426px) {
  .article-text-1::after {
    content: "";
    width: 332px;
    height: 4px;
    background-color: #FB3B64;
    display: block;
    margin-top: 50px;
  }
}

@media (min-width: 426px) {
  .article-text-2::after {
    content: "";
    width: 332px;
    height: 4px;
    background-color: #07ACE6;
    display: block;
    margin-top: 50px;
  }
}

@media (min-width: 426px) {
  .article-text-3::after {
    content: "";
    width: 332px;
    height: 4px;
    background-color: #55DFB4;
    display: block;
    margin-top: 50px;
  }
}

.article-photo {
  position: relative;
  display: flex;
  justify-content: center;
}

.article-photo img {
  position: absolute;
  align-self: center;
  z-index: 0;
}

.article-photo-1 {
  width: 60%;
  bottom: 15%;
}
@media (min-width: 426px) {
  .article-photo-1 {
    height: 100%;
    width: 50%;
    top: 50px;
    right: -50px;
  }
}

.macbook {
  width: 100%;
}

.article-photo-1::before {
  content: "";
  width: 90px;
  height: 90px;
  transform: rotate(45deg);
  background-color: #FB3B64;
  display: block;
  border-radius: 40px;
  position: absolute;
  left: 100px;
  bottom: -20px;
}
@media (min-width: 426px) {
  .article-photo-1::before {
    width: 180px;
    height: 180px;
    right: 150px;
    top: -20px;
  }
}

.article-photo-2 {
  width: 60%;
  bottom: 80%;
}
@media (min-width: 426px) {
  .article-photo-2 {
    height: 100%;
    width: 50%;
    top: 15px;
    left: 30px;
  }
}

.iphone {
  width: 100%;
}

.article-photo-2::before {
  content: "";
  width: 120px;
  height: 120px;
  background-color: #07ACE6;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: -70px;
}
@media (min-width: 426px) {
  .article-photo-2::before {
    width: 320px;
    height: 320px;
    left: 0;
    top: -20px;
  }
}

.benefit {
  margin-top: 30px;
  display: flex;
  flex-direction: column-reverse;
  box-sizing: border-box;
  width: 100%;
  height: 370px;
  padding: 20px 20px;
  background: #FFFFFF;
  border: 1px solid #E8E9ED;
  align-items: center;
}

.third-benefit {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 426px) {
  .third-benefit {
    flex-direction: row;
  }
}

.benefit-shorter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
@media (min-width: 426px) {
  .benefit-shorter {
    width: 625px;
  }
}

.benefit-shortest {
  width: 100%;
  background: #55DFB4 url("../images/Trumpet@2x.png") no-repeat center;
  background-size: 75%;
}
@media (min-width: 426px) {
  .benefit-shortest {
    width: 440px;
  }
}

.pricing {
  display: flex;
  background: transparent;
  justify-content: center;
}

.pricing-section-title {
  margin-top: 90px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36px;
}

.container-pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 90%;
  /*background: rgba(0, 0, 0, 0.3);*/
}
@media (min-width: 426px) {
  .container-pricing {
    width: 1270px;
  }
}

.boxes-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 426px) {
  .boxes-container {
    flex-direction: row;
  }
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  border: 1px solid;
  border-radius: 18px;
  height: 300px;
  width: 75%;
  margin: 20px 0;
}
@media (min-width: 426px) {
  .box {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height: 460px;
    width: 372px;
  }
}

.box-1 {
  border-color: #FB3B64;
}

.box-2 {
  border-color: #08A6E4;
  height: 300px;
  width: 90%;
  box-shadow: 5px 10px 27px #07ACE629;
}
@media (min-width: 426px) {
  .box-2 {
    flex-direction: column;
    height: 500px;
    width: 405px;
  }
}

.box-3 {
  border-color: #55DFB4;
}

.btn-pricing {
  width: 150px;
  height: 50px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  position: relative;
  top: 25px;
}

.btn-pricing-1 {
  background: #FB3B64;
}

.btn-pricing-2 {
  background: #07ACE6;
}

.btn-pricing-3 {
  background: #55DFB4;
}

.pricing-title {
  margin-top: 25px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #13253B;
}

.pricing-title-main {
  font-size: 21px;
}

.offer-type {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #13253B;
}

@media (min-width: 426px) {
  .offer-price {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 426px) {
  .offer-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    margin: 50px;
  }
}

.offer {
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.offer::before {
  display: inline-block;
  margin-right: 10px;
  content: "";
  height: 11px;
  width: 11px;
  border: 1px solid #55DFB4;
  background: url("../images/Checkmark.svg") no-repeat center;
  background-size: 70%;
}

.offer-not::before {
  border: 1px solid #EB476E;
  background: url("../images/signs.svg") no-repeat center;
  background-size: contain;
}

.price {
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  font-size: 46px;
}

.price-1 {
  color: #FB3B64;
}

.price-2 {
  color: #07ACE6;
}

.price-3 {
  color: #55DFB4;
}

.calc {
  padding: 80px 0;
  background-color: #F7F7F7;
}
.calc h2 {
  text-align: center;
}
.calc__columns {
  max-width: 865px;
  margin: 50px auto 0;
  display: flex;
}
.calc__form {
  width: 50%;
  margin-right: 20px;
}
.calc__input input, .calc__select .select__input {
  color: #F7F7F7;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #08A6E4;
  padding: 11px 20px;
  line-height: 1em;
  font-size: 0.8125rem;
  box-shadow: 0px 3px 6px #F7F7F7;
  margin-bottom: 20px;
  background-color: #FFFFFF;
}
.calc__input input::-moz-placeholder {
  color: #F7F7F7;
}
.calc__input input:-ms-input-placeholder {
  color: #F7F7F7;
}
.calc__input input::-ms-input-placeholder {
  color: #F7F7F7;
}
.calc__input input::placeholder {
  color: #F7F7F7;
}
.calc__select {
  position: relative;
}
.calc__select .select__input {
  position: relative;
  height: 40px;
  vertical-align: middle;
  padding: 13px 20px;
  cursor: pointer;
}
.calc__select .select__input::after {
  content: "";
  background-image: url("../images/Arrow Down.svg");
  width: 22px;
  height: 22px;
  display: block;
  position: absolute;
  right: 14px;
  top: 9px;
}
.calc__select .select__dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: white;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #FB3B64;
  overflow: hidden;
}
.calc__select .select__dropdown li {
  font-size: 13px;
  padding: 10px 20px;
  cursor: pointer;
}
.calc__select .select__dropdown li:hover {
  background-color: #F7F7F7;
}
.calc__select.open .select__input::after {
  transform: rotate(180deg);
}
.calc__select.open .select__dropdown {
  display: block;
}
.calc .form__checkbox .consent__text {
  padding-top: 4px;
}
.calc__summary {
  width: 50%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.calc__summary .summary__total,
.calc__summary .list__item {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 6px;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  font-size: 0.875rem;
  display: none;
}
.calc__summary .summary__total.open,
.calc__summary .list__item.open {
  display: flex;
}
.calc__summary .summary__total {
  width: 50%;
  align-self: flex-end;
  margin-top: 22px;
  padding: 8px 20px;
  background-color: #FFFFFF;
}
.calc__summary .summary__total .total__price {
  font-size: 1.25rem;
  font-weight: 700;
}
.calc__summary .list__item {
  padding: 6px 20px;
  background-color: #55DFB4;
  margin-bottom: 8px;
}
.calc__summary .list__item .item__price {
  font-weight: 700;
  font-size: 1.125rem;
}

.question-form {
  display: flex;
  background: transparent;
  justify-content: center;
  align-items: center;
}
@media (min-width: 426px) {
  .question-form {
    height: 500px;
  }
}

.container-question {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 90%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}
@media (min-width: 426px) {
  .container-question {
    width: 900px;
    flex-direction: row;
  }
}

.contact, .contact-form {
  height: 100%;
  width: 90%;
  background: transparent;
  margin: 0 10px;
}
@media (min-width: 426px) {
  .contact, .contact-form {
    width: 50%;
  }
}

.contact {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
}
@media (min-width: 426px) {
  .contact {
    align-self: flex-start;
    height: 50%;
  }
}

.contact-title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 49px;
}

.contact-description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.contact-email, .contact-phone {
  display: flex;
}

.contact-icons {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #A5A5A5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (min-width: 426px) {
  .contact-icons {
    flex-direction: row;
    align-items: center;
  }
}

.contact-icon {
  margin: 0 5px 0 5px;
}

.envelope {
  height: 27px;
  width: 27px;
  background: url("../images/Mail Icon.svg") no-repeat;
  background-size: contain;
}

.phone {
  height: 27px;
  width: 27px;
  background: url("../images/Phone Icon.svg") no-repeat;
  background-size: contain;
}

.contact-form form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input {
  outline: none;
  border: none;
  border-bottom: 1px solid #707070;
  height: 50px;
  font-size: 24px;
}

label {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 11px;
  color: #08A6E4;
}

.form-agreement {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 12px;
  color: #707070;
}

.btn-submit {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  height: 57px;
  width: 226px;
  color: #FFFFFF;
  background: #08A6E4;
  align-self: flex-end;
}

.footer {
  display: flex;
  height: 90px;
  /*background: aquamarine;*/
  justify-content: center;
  box-shadow: 0 -5px 40px #00000029;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-title {
  font-size: 24px;
}

.footer-copyright {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: #A5A5A5;
}

.btn-footer {
  outline: none;
}

.btn-footer:hover {
  cursor: pointer;
}

.twitter {
  width: 24px;
  height: 24px;
  background: url("../images/Twitter.svg") no-repeat;
  background-size: contain;
  border-radius: 50%;
  margin: 10px;
}

.fb {
  width: 24px;
  height: 24px;
  background: url("../images/Facebook.svg") no-repeat;
  background-size: contain;
  border-radius: 50%;
  margin: 10px;
}
/*# sourceMappingURL=main.css.map */
